<div class="row">
  <% @comments.each do |comment| %>
    <%= comment.user.name %><br>
    <%= comment.comment %><br>
      <div class="comment-delete">
        <%= link_to "削除", admin_post_comment_path(@post.id, comment.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn-sm btn-danger" %>
      </div>
  <% end %>
</div>s