<div class="container">

  <%= render 'public/posts/post_index', posts: @posts %>

  <% if @posts.count == 0 %>
    <div class="row">
      <div class="col-10" style="padding-left:3rem">
        <p>検索結果がありませんでした</p>
      </div>
    </div>
  <% end %>

</div>
