<div class="container">
  <div class="row">
    <div class="text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <%= image_tag 'scott-goodwill-y8Ngwq34_Ak-unsplash.jpg',class: "top_image" %>
      <h3 class="top_title">■■■このwebサイトについて■■■</h3>
      <p>キャンプに行こうか迷っている人、行き始めたばかりで何を準備したらいいかわからない人</p>
      <p>チェックしていき準備ができるようなサイトになっています</p>
      <p>行ったキャンプについて投稿、共有できるサイトです</p>
    </div>
  </div>
</div>