<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= image_tag 'assets/images/scott.jpg'>
      <h3 class="title">■■■このwebサイトについて■■■</h3>
      <p>キャンプに行こうか迷っている人、行き始めたばかりで何を準備したらいいかわからない人</p>
      <p>チェックしていき準備ができるようなサイトになっています</p>
      <p>行ったキャンプについても投稿したり、共有できるサイトです</p>
    </div>
  </div>
</div>