<div class="container">
  <div class="row">
    <div class="col-10 offset-1 text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <%= image_tag '23218203.jpg',class: "top_image" %>
      <h3 class="top_title">ようこそ</h3>
      <p>キャンプの準備、共有ができるサイトです</p>
      <p>持ち物の確認や思い出の共有ができます</p>
    </div>
  </div>
</div>