<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>マイキャンプ一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>日程</th>
        <th>場所</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
      <tr>
        <td>
          <%= link_to camp_path(camp.id) do %>
            <%= camp.schedule %>
          <% end %>
        </td>
        <td>
          <%= camp.camp_site %>
        </td>
        <td>
          <%= l camp.created_at %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>