<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>キャンプの予定</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>日程</th>
        <th>場所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @camp.schedule %>
        </td>
        <td>
          <%= @camp.camp_site %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
      <h2>あと</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "編集する", edit_camp_path(@camp.id) %>
      <%= link_to "チェックリストへ", camp_checklist_path(@camp, @checklists) %>
    </div>
  </div>
</div>