<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page<%= ' current' if page.current? %>">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel} %>
</span>

<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--        <span class="sr-only">Previous</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--        <span class="sr-only">Next</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
