@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.login-form {
  padding-top: 5rem;
}

.card-item-image {
  height: 15vw;
  width: 100%;
  object-fit: contain;
}

.search_form {
  text-align: right;
  padding: 2rem;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.background-image {
  background-size: auto;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 6px solid #ccc;
}

.field {
  margin-bottom: 1rem;
}

.top_image {
  width: 100%;
  height: 500px;
  background-size:cover;
  margin: 2rem auto;
}

.post_comment {
  border-bottom: 1px solid #ccc;
}

.post_content {
  margin-bottom: 2rem;
}

// checklist
.item_list {
  list-style: none;
  margin-bottom: 20px;
}

.item_name {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  margin-bottom: 10px;
}

.item_comment {
  margin-bottom: 20px;
}

.form_field {
  width: 100%;
  height: 40px;
}

.post_text {
  width: 100%;
  height: 120px;
  margin-bottom: 2rem;
}
