@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.login-form {
  padding-top: 5rem;
}

.card-item-image {
  height: 15vw;
  width: 100%;
  object-fit: contain;
}
