@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.nav-color {
  background-color:#90ee90;
}

.main_title {
  // font-family: 'Lobster', cursive;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.top_image {
    width: 100%;
}

.post_image_center {
    display: flex;
    align-items: center;
}

// .login-form {
//   padding-top: 5rem;
// }

.card-item-image {
  height: 15vw;
  width: 100%;
  object-fit: cover;
  min-height: 150px;
}

.profile_image {
  border-radius: 50%;
  width: 100%;
  height: 100px;
  min-width: 100px;
  object-fit:cover;
}

.search_form {
  text-align: right;
  padding: 2rem;
}

.pagination {
  justify-content: center;
  margin-bottom: 1rem;
}

.page {
  padding-right: 5px;
}

// .pagination>li>a {
//   border: none;
//   color: #696969;
// }

// .pagination>.active>a {
//   background: #93c9ff;
//   border-radius: 15px;
// }

// .pagination>li>a:hover {
//   border-radius: 15px;
// }

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.background-image {
  background-size: auto;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 6px solid #ccc;
  // font-family: 'PT Serif', serif;
  // font-family: 'Shadows Into Light', cursive;
  font-family: 'Zen Maru Gothic', sans-serif;
}

// .title-img {
//   background-image: url("assets/images/flag.jpeg");
// }

.field {
  margin-bottom: 1rem;
}

.top_image {
  width: 100%;
  background-size:cover;
  margin: 2rem auto;
}

.post_comment {
  border-bottom: 1px solid #ccc;
}

.post_content {
  margin-bottom: 2rem;
}

// checklist
.item_list {
  list-style: none;
  margin-bottom: 20px;
}

.item_name:first-child {
  margin-top: 10px;
}

.item_name {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// checklistのタブの高さの変更
.tab-content {
  margin-top:2rem;
}


.item_comment {
  margin-bottom: 20px;
}

.form_field {
  width: 100%;
  height: 40px;
}

.post_text {
  width: 100%;
  height: 120px;
  margin-bottom: 2rem;
}

// エラーメッセージ
#error_explanation {
  width: 100%;
  border: 2px solid #f2dede;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #f2dede;
  color: #a94442;
}

.field_with_errors {
  // padding: 2px;
  background-color: #f2dede;
  display: inline;
}

.post_area_wrapper .field_with_errors {
  display: block;
  textarea {
    margin-bottom: -8px;
  }
}

.text-success {
  text-align: center;
}

// 退会ずみユーザーのログイン
.withdrawn {
  color:#28a745;
}

.main-container {
  background-image: url("<%= asset_path('scott-goodwill-y8Ngwq34_Ak-unsplash.jpg') %>" );
  height: 800px;
  background-size:cover;
}


label {
  margin-bottom: 0;
}

.post_form {
  width: 100%;
  height: 30px;
}

.post_area {
  width: 100%;
  height: 80px;
}

// checkboxのサイズ指定
input[type="checkbox"] {
  transform: scale(1.5);
}

.button_link {

}

// マイキャンプ一覧のtableのデザイン
// table {
//   border-collapse: collapse;
// }

// table td, table th {
//   display: block;
//   padding: 10px;
// }

// table th {
//   background-color: #eee;
// }

// table thead {
//   display: block;
//   float: left;
//   width: 30%;
// }
// table tbody {
//   display: block;
//   float: left;
//   width: 70%;
// }

// @media only screen and (max-width: 524px) {
//   table {
//     width: 100%;
//   }
//   table tr {
//     display: block;
//     float: left;
//   }
//   table tr td, table tr th {
//     display: block;
//     height: 40px;
//   }
//   table thead {
//     display: block;
//     float: left;
//     width: 30%;
//   }
//   table thead tr {
//     width: 100%;
//   }
//   table tbody {
//     display: block;
//     float: left;
//     width: 70%;
//   }
//   table tbody tr {
//     width: 30%;
//   }
// }

//admin/tableのレスポンシブのレイアウト
// table-responsive .wrap_scroll_table {
//   width: 400px;
//   overflow-x: scroll;
//   margin: 0 auto;
// }

// .table-responsive .scroll_table {
//   margin-top: 10px;
//   max-width: 400px;
//   margin: 0 auto;
// }

// .table-responsive .scroll_table,
// .table-responsive .scroll_table td,
// .table-responsive .scroll_table th {
//   border: 1px solid #cbced2;
//   border-collapse: collapse;
//   text-align: center;
// }

// .table-responsive .scroll_table th {
//   background: #01214d;
//   color: #fff;
//   padding: 4px 12px;
// }

// .table-responsive .scroll_table td {
//   background: #f5f6f8;
//   padding: 4px 12px;
// }

// .table-responsive .txt {
//   width: 400px;
//   margin: 0 auto;
//   font-size: 14px;
//   font-size: 1.4rem;
//   margin-top: 2px;
// }

// チェックリストのレスポンシブ
.tab_area, .table_area {
  overflow-x: scroll;
}

.tab_menu, .scroll_table {
  width: 27rem;
}

.link_button .btn {
  width: 40%;
}
