<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>キャンプ一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>名前</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
      <tr>
        <td>
          <%= camp.user_id %>
        </td>
        <td>
          <%= camp.id %>
        </td>
        <td>
          <%= l camp.created_at %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>