<div class="container">
  <div class="row">
  	<div class="col-3">
  		<h4>キャンプ詳細</h4>
  	</div>
  </div>


  <table class="table">
  	<tbody>
  		<tr>
  			<th>日程</th>
  		  <td><%= @camp.schedule %></td>
  		</tr>
  		<tr>
  			<th>キャンプ場</th>
  			<td><%= @camp.camp_site %></td>
  		</tr>
  		<tr>
  			<th>人数</th>
  			<td><%= @camp.number_of_people %></td>
  		</tr>
  		<tr>
  			<th>チェックリスト</th>
  			<td><%= link_to "表示", admin_camps_path %></td>
  		</tr>
  	</tbody>
  </table>

  <%#= render 'public/checklists/camp_for_index', checklists: @checklists %>
</div>